<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">


<dom-module id="custom-card">
    <template>
        <style>
            .card {
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                background-color: white;
                margin: 10px 40px;
                max-width: 400px;
            }

            .card-action-main {
                cursor: pointer;
            }

            .card-header {
                height: 200px;
                border-radius: 2px;
                background-image: url('/static/images/fushimiinari.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .card-status {
                width: 100%;
                padding: 0px 15px;
            }

            .card-status-item {
                height: 5px;
                width: 60px;
                display: inline-block;
                margin-right: 10px;
                border-radius: 4px;

            }

            .card-status-item-pending {
                background-color: #2196F3;
            }

            .card-status-item-done {
                background-color: #4CAF50;
            }

            .card-title {
                padding: 5px 15px;
            }

            .card-action-additional {
                border-top: 1px solid rgba(0, 0, 0, .1);
                padding: 5px 15px;
                line-height: 12px;
                text-align: right;
            }

            .hidden {
                display: none;
            }
        </style>
        <div class="card">
            <div class="card-action-main">
                <div class="card-header">

                </div>
                <div class="card-status">
                    <div class="card-status-item card-status-item-pending"></div>
                    <div class="card-status-item card-status-item-done"></div>
                </div>
                <div class="card-title">title: {{card.id}} -- type: {{card-type}} -- timestamp: {{card.timestamp}}</div>
            </div>
            <div class="card-action-additional">
                <paper-icon-button icon="editor:mode-comment" title="mode-comment"></paper-icon-button>
                <paper-icon-button icon="editor:attach-file" title="attach-file"></paper-icon-button>
            </div>
        </div>
    </template>

    <script>
        class CustomCard extends Polymer.Element {
            static get is() {
                return 'custom-card'
            }

            static get config() {
                return {
                    properties: {
                        card: {
                            type: Object,
                            value: "{}"
                        }
                    }
                }
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

        }
        customElements.define(CustomCard.is, CustomCard);
    </script>
</dom-module>
