<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">


<dom-module id="custom-card">
    <template>
        <style>
            .card {
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                background-color: white;
                margin: 10px 40px;
                max-width: 400px;
            }

            .card-action-main {
                cursor: pointer;
            }

            .card-header {
                height: 200px;
                border-radius: 2px 2px 0px 0px;
                background-image: url('/static/images/fushimiinari.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .card-status {
                width: 100%;
                height: 5px
            }

            .card-status-item {
                height: 5px;
                width: 100%;
                display: block;
                float: left;
            }

            .card-status-item-pending {
                background-color: #2196F3;
            }

            .card-status-item-done {
                background-color: #4CAF50;
            }

            .card-title {
                padding: 5px 15px 0;
                font-weight: 700;
            }

            .card-description {
                padding: 0 15px 5px;
                color: #616161;
                font-size: 0.8em;
            }

            .card-bottom {
                border-top: 1px solid rgba(0, 0, 0, .1);
                height: 46px;
            }

            .card-about {
                padding: 11px 15px;
                float: left;
            }

            .card-user-chip {
                height: 24px;
                border-radius: 12px;
                background-color: #EEEEEE;
            }

            .card-user-icon {
                height: 24px;
                width: 24px;
                background-image: url('/static/images/octocat.svg');
                background-size: contain;
                border-radius: 50%;
                display: inline-block;
            }

            .card-user-name {
                font-size: 0.8em;
                display: block;
                float: right;
                margin: 2px 12px 2px 7px;
            }

            .card-action-additional {
                float: right;
                padding: 5px 15px;
                line-height: 12px;
                text-align: right;
            }

            paper-icon-button.action-button {
                width: 35px;
                height: 35px;
            }

            .hidden {
                display: none;
            }
        </style>
        <div class="card">
            <div class="card-action-main">
                <div class="card-header">

                </div>
                <div class="card-status">
                    <div class="card-status-item card-status-item-pending"></div>
                </div>
                <div class="card-title">Title {{card.id}}</div>
                <div class="card-description">This card is of type {{card.type}} received at {{card.timestamp}}</div>
            </div>
            <div class="card-bottom">
                <div class="card-about">
                    <div class="card-user-chip">
                        <div class="card-user-icon"></div>
                        <div class="card-user-name">Octocat</div>
                    </div>
                </div>
                <div class="card-action-additional">
                    <paper-icon-button icon="editor:mode-comment" title="mode-comment"
                                       class="action-button"></paper-icon-button>
                    <paper-icon-button icon="editor:attach-file" title="attach-file"
                                       class="action-button"></paper-icon-button>
                </div>
            </div>
        </div>
    </template>

    <script>
        class CustomCard extends Polymer.Element {
            static get is() {
                return 'custom-card'
            }

            static get config() {
                return {
                    properties: {
                        card: {
                            type: Object,
                            value: "{}"
                        }
                    }
                }
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

        }
        customElements.define(CustomCard.is, CustomCard);
    </script>
</dom-module>
