<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./custom-card.html">


<dom-module id="cache-first-view">
    <template>
        <style>
            .content {
                background-color: #f1f1f1;
                margin: 14px;
            }

            .card-wrapper {
                display: flex;
                flex-wrap: wrap;
            }
        </style>
        <div class="content">
            <div class="description">
                <h1>Cache First</h1>
                <p>Call server 10 times on /cache-first/:id. Last 5 calls should be in cache even if server is offline
                    thanks to sw-toolbox.</p>
            </div>
            <div class="card-wrapper">
                <dom-repeat items="{{itemList}}">
                    <template>
                        <custom-card card={{item}}></custom-card>
                    </template>
                </dom-repeat>
            </div>
        </div>
    </template>

    <script>
        class CacheFirstView extends Polymer.Element {
            static get is() {
                return 'cache-first-view'
            }

            static get config() {
                return {
                    properties: {
                        itemList: {
                            type: Array,
                            value: []
                        }
                    }
                }
            }

            constructor() {
                super();
            }

            ready() {
                this.callServer();
                super.ready();
            }

            callServer() {
                for (let i = 0; i < 10; i++) {
                    const req = new XMLHttpRequest();
                    req.open('GET', `./cache-first/${i}`, true);
                    req.onreadystatechange = function (aEvt) {
                        if (req.readyState == 4) {
                            if (req.status == 200) {
                                const fizzbuzz = this.itemList;
                                fizzbuzz.push(JSON.parse(req.response));
                                this.itemList = fizzbuzz;
                            } else {
                                console.error("Load error.\n");
                            }
                        }
                    }.bind(this);
                    req.send(null);
                }
            }
        }
        customElements.define(CacheFirstView.is, CacheFirstView);
    </script>
</dom-module>
