<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="my-view1">
    <template>
        <style>
            .content {
                margin: 14px;
            }
        </style>
        <div class="content">
            <h1>View One</h1>
            <img src="/static/images/tenryuji.jpg" width="250"/>
            <div class="item-add">
                <input id="inputItem" type="text"/>
                <button id="addItem">Add item</button>
            </div>
            <ul>
                <dom-repeat items="{{itemList}}">
                    <template>
                        <li>{{index}} {{item}}</li>
                    </template>
                </dom-repeat>
            </ul>
        </div>
    </template>

    <script>
        class MyView1 extends Polymer.Element {
            static get is() {
                return 'my-view1'
            }

            static get config() {
                return {
                    properties: {
                        itemList: {
                            type: Array,
                            value: []
                        }
                    }
                }
            }

            constructor() {
                super();
                //console.log('component created');
            }

            ready() {
                this.listenToStream();
                super.ready();
                this.$.addItem.addEventListener('click', this.addItem.bind(this));
                //console.log('component ready');
            }

            listenToStream() {
                if (!!window.EventSource) {
                    const source = new EventSource('/stream');

                    source.addEventListener('message', function (e) {
                        this.itemList = JSON.parse(e.data);
                    }.bind(this), false);

                    source.addEventListener('open', function (e) {
                        console.log('SSE connection opened');
                    }, false);

                    source.addEventListener('error', function (e) {
                        if (e.readyState == EventSource.CLOSED) {
                            console.log('SSE connection closed')
                        }
                    }, false)
                }
            }

            addItem() {
                const req = new XMLHttpRequest();
                req.open('GET', `./item?i=${this.$.inputItem.value}`, true);
                req.send(null);
                this.$.inputItem.value = '';
            }
        }
        customElements.define(MyView1.is, MyView1);
    </script>
</dom-module>
