<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Kafka name="Kafka" topic="log">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>