{
  "parser": "babel-eslint",
  "ecmaFeatures": { "modules": true },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb", // supposedly good, ajusting some values below.
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "jsx-closing-bracket-location": 0, // doesn't always improve readability
    "react/jsx-space-before-closing" : 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": 0, // too much
    "no-console": 0,
    "spaced-comment": 0, // sucks for code comments
    "max-len": ["error", 160], // I don't code on my smartphone, need more than the default 80
    "no-param-reassign": ["error", { "props": false }]
  },
  "settings": {
    "import/resolve": {
      "extensions": [ ".js", ".jsx" ]
    },
    "import/parser": "babel-eslint"
  }
}